h1
{
    color: rgb(220, 178, 71);
}

body
{
    background-color: rgb(8, 128, 8);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;/*This also aligns the button to the center if the screen*/
    font-size: 25px;
}

p{
    color: white;
}

#message-el, #result
{
    font-style: italic;
}

button
{
    background-color: goldenrod;
    color: #016f32;
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 20px;
    border-radius: 2px;
    margin: 3px;
}


